@if (data$ | async; as data) {
<app-loader [isLoading]="data.isLoading"></app-loader>
@if (data.users.length > 0) {
<div class="cards">
  @for (user of data.users; track user.id) {
  <app-user-card [@cardAnimation] class="card" [user]="user" />
  }
</div>

<div class="paginate">
  <mat-paginator
    [length]="data.total"
    [pageSize]="data.users.length > 0 ? data.users.length : 1"
    (page)="pageChange($event)"
  >
  </mat-paginator>
</div>
} @else if (!data.isLoading && data?.users?.length === 0) {
<h1>No Data</h1>
} }
